<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>@code_dreamer - Grab a cup of coffee</title>
        <meta name="keywords" content="Web android pwa javascript nativescript nodejs laravel xml php mongodb node service worker mobile bootstrap html css js" />
        <meta name="author" content="ekpotoliberty.com" />
        <meta property="fb:app_id" content="473264586608831" />

        {{#if article}}
        <meta name="description" content="{{article.title}}" />
        <meta property="og:title" content="{{article.title}}"/>
        <meta property="og:image" content="{{article.featured_image}}"/>
        <meta property="og:url" content="{{link_url}}"/>
        <meta property="og:site_name" content="Ekpoto Liberty (@code_dreamer)"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content=""/>
        <!-- <meta name="google-site-verification" content="zB2aBYp1ukVakb5A50jRfshl30aqJViMPztPuVU4qkU" /> -->

        <!-- Twitter Meta Tags -->
        <meta name="twitter:title" content="{{article.title}}" />
        <meta name="twitter:image" content="{{article.featured_image}}" />
        <meta name="twitter:url" content="{{link_url}}" />
        <meta name="twitter:card" content="" />
        {{else}}
        <meta name="description" content="I'm a Software Developer & Technical Writer. I love musics, games & basketball" />
        <meta property="og:title" content="Ekpoto Liberty the code dreamer."/>
        <meta property="og:image" content="http://res.cloudinary.com/delino12/image/upload/v1571331707/resume/trgefzj73ohjvzl2zbce.jpg"/>
        <meta property="og:url" content="https://ekpotoliberty.com"/>
        <meta property="og:site_name" content="Ekpoto Liberty (@code_dreamer)"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="A Software developer base in Lagos, who loves music, lifestyle and art."/>
        <!-- <meta name="google-site-verification" content="zB2aBYp1ukVakb5A50jRfshl30aqJViMPztPuVU4qkU" /> -->

        <!-- Twitter Meta Tags -->
        <meta name="twitter:title" content="Ekpoto Liberty (@code_dreamer)" />
        <meta name="twitter:image" content="http://res.cloudinary.com/delino12/image/upload/v1571331707/resume/trgefzj73ohjvzl2zbce.jpg" />
        <meta name="twitter:url" content="ekpotoliberty.com" />
        <meta name="twitter:card" content="A Software developer base in Lagos, who loves music, lifestyle and art." />
        {{/if}}

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">

        <!-- Custom styles for this template -->
        <link href="/css/grayscale.min.css" rel="stylesheet">
        <link href="/css/blog.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/monokia.css" rel="stylesheet">
        <link href="/css/prism.css" rel="stylesheet">
        <link href="/css/select2.css" rel="stylesheet">

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="/vendor/jquery/jquery.min.js"></script>
        
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/sweetalert.js"></script>

        <!-- highlights js -->
        <!-- <link rel="stylesheet" href="/css/highlight.css"> -->
        <!-- <script src="/js/highlight.js"></script> -->
        
        <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
        <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
        <script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#222222","text":"#ffffff","border":"#f9f9f9"},"button":{"background":"#f9f9f9","text":"#000000"}},"position":"bottom-right","content":{"href":"https://ekpotoliberty.com/policy","message":"Hi there, this website uses a cookie to ensure you get the best experience on my website. ","link":"Read more","button":"Ok, Got it"}})});
        </script>

        <script>window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));</script>
    </head>
    <body id="page-top">
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <!-- <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-analytics.js"></script>
        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyDQUCCeKzqJiN0Vh3LKARs02Omrkn5sfIg",
                authDomain: "ekpoto.firebaseapp.com",
                databaseURL: "https://ekpoto.firebaseio.com",
                projectId: "ekpoto",
                storageBucket: "ekpoto.appspot.com",
                messagingSenderId: "301960378302",
                appId: "1:301960378302:web:a55369f4e43947f14aabef",
                measurementId: "G-G7VNWF0GMX"
            };

            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script> -->

        <div class="notify-me">
            Things i can do with lotion
        </div>

        {{{ body }}}

        <!-- Footer -->
        <footer class="bg-black small text-center text-white-50">
            <div class="container">
                Copyright &copy; Ekpoto Liberty 2019
            </div>
        </footer>

        <!-- facebook -->
        <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
        <script type="text/javascript">
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '473264586608831',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v3.3'
                });  
                FB.AppEvents.logPageView();
            };
        </script>
        <script type="text/javascript">
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));   
        </script>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/grayscale.min.js"></script>
        <script src="/js/blog.min.js"></script>

        <!-- Prism -->
        <script src="/js/prism.js"></script>
        <script type="text/javascript">
            function popNotification(data) {
                $(".notify-me").fadeIn();
                $(".notify-me").html(`
                    ${data.message}
                `);

                setTimeout(function(){
                    $(".notify-me").fadeOut();   
                }, 5000);
            }
        </script>
    </body>
</html>
