  <style type="text/css">
    header.masthead{
      margin-bottom: 0px;
    }
  </style>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">
        <img src="apple-icon-57x57.png" style="box-shadow: 0rem 0rem 4rem 0rem #FFF;">
      Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">More</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Header -->
  <header class="masthead" style="background: url('img/bg-masthead.jpg');">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0" style="line-height: 1.0;">Ekpoto Liberty</h1>
        <h2 class="text-white-50 mx-auto mt-5 mb-5">I'm a Software Developer & Technical Writer. I love music, games & basketball</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Learn More</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">I Build, Scale and Deploy</h2>
          <p class="text-white-50">I consume business requirements, extract and digest all datas to form solid blueprints and designs structure, building interaction between the user-interface and user-experience (UI/UX), then I transform all ideas into algorithms and I bake a stable version out of it.</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center text-white mb-5 pt-2 pb-5">
            <i class="fa fa-code fa-3x"></i><br /><br />
            Code
          </div>
          <div class="col-md-3 text-center text-white mb-5 pt-2 pb-5">
            <i class="fa fa-cloud fa-3x"></i><br /><br />
            Deploy
          </div>
          <div class="col-md-3 text-center text-white mb-5 pt-2 pb-5">
            <i class="fa fa-tv fa-3x"></i><br /><br />
            Review
          </div>
          <div class="col-md-3 text-center text-white mb-5 pt-2 pb-5">
            <i class="fa fa-rocket fa-3x"></i><br /><br />
            Release
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="img/mobile-development.jpg" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Mobile Software Development</h4>
            <p class="text-black-50 mb-0">The relationship between users and their personal datas depends on how fast they can access informations like documents, info-graphics, images, videos and animations. I build mobile applications that target all devices, ability to scale, user-friendly, fast and secured. I can deliver my mobile applications on iOS, Android and custom OS(Operating System).</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="/img/web-development.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Web Application Development</h4>
                <p class="mb-0 text-white-50">
                  I build dynamic web applications and progressive web applications(PWA). My web solutions help customers gain a competitive advantage, using advance technology services which are ascendable and scalable to improve client's business image, creates leads and prospects, increase audience and enhance professional brands.
                </p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="/img/api-development.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">API & Backend Expert</h4>
                <p class="mb-0 text-white-50">I Building microservices architecture, web process and web services to expose the functionality of an application to other application. I also provide api documentations to help other developers to implement customized solutions to clients software.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Apapa Lagos, Nigeria</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">ekpoto.liberty@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+(234) 8127-160-258</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://twitter.com/am_delino" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://web.facebook.com/ekpoto" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/delino12" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>