    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">@code_dreamer</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ article.featured_image }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ article.title }}</h1>
                        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                        <span class="meta">Posted by
                            <a href="#">@code_dreamer</a>
                            on {{ posted_at }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-9">
                {{{article.contents}}}

                <div class="vertical-addon-link">
                    <!-- <span>share this article:</span> -->
                    <i class="fa fa-share-alt"></i>
                    <a href="javascript:void(0);" onclick="shareToFacebook('{{article._id}}')" title="Facebook" class="facebook ml-2">
                        <i class="fab fa-facebook-f"></i> facebook
                    </a>

                    <a href="javascript:void(0);" id="twitter-wjs" onclick="tweetCurrentPage()" title="Twitter" class="twitter">
                        <i class="fab fa-twitter"></i> twitter
                    </a>

                    <a href="javascript:void(0);" title="Google Plus" class="google-plus ml-2">
                        <i class="fab fa-google-plus"></i> google+
                    </a>
                </div>
                <br />

                <!-- Your share button code -->
                <div class="fb-like" data-href="" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true"></div>

                <br /><br />
            </div>
            <div class="col-md-3" id="all-articles"></div>
        </div>
    </div>
    <br>

    <div class="addon-post-share">
        <a href="javascript:void(0);" onclick="shareToFacebook('{{article._id}}')" title="Facebook" class="facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <br /><br />
        <a href="javascript:void(0);" onclick="tweetCurrentPage()" title="Twitter" class="twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <br /><br />
        <a href="javascript:void(0);" title="Google Plus" class="google-plus">
            <i class="fab fa-google-plus"></i>
        </a>
        <br /><br />

        <a href="javascript:void(0);" title="Google Plus" class="google-plus">
            <i class="fab fa-github"></i>
        </a>
        <br /><br />
    </div>

    <script type="text/javascript">
        $(document).ready(function($) {
            document.addEventListener('DOMContentLoaded', (event) => {
                document.querySelectorAll('pre code').forEach((block) => {
                    hljs.highlightBlock(block);
                });
            });
        });

        getAllPublishedPosts();
        getOnePublishedPosts('{{article._id}}');

        // get all post
        function getAllPublishedPosts() {
            let url = '/api/published/articles';
            fetch(url, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(r => r.json()).then(data => {
                $("#all-articles").html("");
                $.each(data.data, function(index, val) {
                    // console.log(val);
                    var filteredLink = val.title.replace(/ /g, '-');
                    $("#all-articles").append(`
                          <div class="post-preview">
                            <a href="/read/${filteredLink}/${val._id}">
                              <span class="small">
                                ${val.title}
                              </span>
                              <br />
                            </a>
                            <span class="small">Posted by
                              <a href="#">@code_dreamer</a>
                              on ${moment(val.createdAt).format('LL')}</span>
                          </div>
                          <hr>
                    `);
                });
            }).catch(err => console.log(err));
        }

        // get all post
        function getOnePublishedPosts(article_id) {
            return new Promise((resolve, reject) => {
                let url = `/api/articles/${article_id}`;
                fetch(url, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(r => r.json()).then(article => {
                    resolve(article)
                }).catch(err => {
                    console.log(err)
                    reject(err)
                });
            })
        }

        function truncateText(string, length, delimiter = "...") {
            delimiter = delimiter || "&hellip;";
            return string.length > length ? string.substr(0, length) + delimiter : string;
        }

        function shareToFacebook(article_id) {
            // console.log(article_id);
            getOnePublishedPosts(article_id).then(result => {
                // console.log(article)
                var article     = result.data;
                var url         = window.location.href;
                var title       = article.title;
                var contents    = "";
                var avatar      = article.featured_image;

                // console.log(url);
                // console.log(title);
                // console.log(contents);
                // console.log(avatar);

                // // console.log(article);
                // article.contents.replace(/"/g, "");
                // article.contents.replace(/'/g, "");

                // article.title.replace(/"/g, "");
                // article.title.replace(/'/g, "");

                // article.url.replace(/'/g, "");
                // // article.url.replace(//g, "");

                // share to facebook
                shareOverrideOGMeta(url, title, contents, avatar);
            });
        }

        function tweetCurrentPage(){ 
            window.open("https://twitter.com/share?url="+encodeURIComponent(window.location.href)+"&text="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
            return false; 
        }

        function shareOverrideOGMeta(url, title, description, avatar){
            FB.ui({
                method: 'share',
                action_type: 'og.shares',
                mobile_iframe: false,
                display: 'popup',
                redirect_uri: url,
                action_properties: JSON.stringify({
                    object: {
                        'title': title,
                        'description': description,
                        'author': 'Ekpoto Liberty',
                        'og:url': url,
                        'og:title': title,
                        'og:description': description,
                        'og:image': avatar
                    }
                })
            },
            function (response) {
                // Action after response
                // window.location.reload();
                console.log(response);
            });
        }
    </script>
