<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">@code_dreamer</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ article.featured_image }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ article.title }}</h1>
                    <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                    <span class="meta">Posted by
                        <a href="#">@code_dreamer</a>
                        on {{ posted_at }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 mx-auto" id="all-articles">
            <!-- Pager -->
            <!-- <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div> -->
        </div>
    </div>
</div>
<br>

<!-- Subscript modal -->
<div class="modal fade" id="subscribe-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4>name</h4>
            </div>
            <div class="modal-body">
                name
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div> -->
            <section id="signup" class="signup-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 mx-auto text-center">
                            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                            <form method="POST" class="form-inline d-flex" onsubmit="return subscribeToNotifications()">
                                <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address..." required="">
                                <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-lg-8 mx-auto text-center">
                            <a href="#" class="btn btn-link" onclick="hidePopupScreen()">No Thanks</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    getAllPublishedPosts();
    showSubscribeModal();

    // get all post
    function getAllPublishedPosts() {
        let url = '/api/published/articles';
        fetch(url, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(r => r.json()).then(data => {
            $("#all-articles").html("");
            $.each(data.data, function(index, val) {
                // console.log(val);
                var parse_Link = val.title.replace(/[,. ]/g, '-');
                // console.log(parse_Link);

                $("#all-articles").append(`
                    <div class="post-preview">
                      <a href="/read/${parse_Link}/${val._id}">
                        <h2 class="post-title">
                          ${val.title}
                        </h2>
                        <h3 class="post-subtitle">
                          ${truncateText(val.contents, 125) }
                        </h3>
                      </a>
                      <p class="post-meta">Posted by
                        <a href="#">@code_dreamer</a>
                        on ${moment(val.createdAt).format('LL')}</p>
                    </div>
                    <hr>
                `);
            });
        }).catch(err => console.log(err));
    }

    function truncateText(string, length, delimiter = "...") {
        delimiter = delimiter || "&hellip;";
        return string.length > length ? string.substr(0, length) + delimiter : string;
    }

    function showSubscribeModal() {
        var popup_status = window.localStorage.getItem('popup_status');
        if(!popup_status){
            setTimeout((e) => {
                $("#subscribe-modal").modal();
            }, 1000 * 5);
        }
    }

    function hidePopupScreen() {
        $("#subscribe-modal").modal('hide');
        window.localStorage.setItem('popup_status', true);
    }

    function subscribeToNotifications() {
        var email = $("#inputEmail").val();
        var query = {email}

        fetch(`/subscription/subscribe`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results)
            swal("Oh great! I'll make sure you be the first to have my latest article!", {
              icon: "success",
            });
            $("#subscribe-modal").modal('hide');
            hidePopupScreen()
        }).catch(err => {
            console.log(err);
        });

        // return
        return false;
    }
</script>
