<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ user.names }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/create">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/drafts">My Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/auth/signout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header style="background-color: #000;height: 60px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"></div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="lead" id="total-published"></h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="lead" id="total-drafts"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <a href="javascript:void(0);" class="btn btn-link mb-5 float-right">
                        <i class="fa fa-location-arrow"></i> Send Mail
                    </a>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="all-subscribed-users">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<script type="text/javascript">
    getTotalDraft();
    getTotalPublished();
    allSubscribedUsers();
    
    function getTotalDraft() {
        fetch(`/api/count/drafts`).then(r => {
            return r.json();
        }).then(results => {
            console.log(results)
            $("#total-drafts").html(`
                (${results.data}) Drafts
            `)
        }).catch(err => {
            console.log(err);
        })
    }

    function getTotalPublished() {
        fetch(`/api/count/published`).then(r => {
            return r.json();
        }).then(results => {
            console.log(results)
            $("#total-published").html(`
                (${results.data}) Posts
            `)
        }).catch(err => {
            console.log(err);
        })
    }

    function allSubscribedUsers() {
        fetch('/subscription').then(r => {
            return r.json();
        }).then(results => {
            // console.log(results)
            $("#all-subscribed-users").html("");
            var sn = 0;
            $.each(results.data, function(index, val){
                sn++;

                if(val.status == "1"){
                    val.status = '<span class="text-success"><i class="fa fa-bell"></i> Subscribed</span>';
                    val.action = `
                        <!-- Rounded switch -->
                        <label class="switch">
                          <input type="checkbox" onclick="unsubcribed(${val._id})" checked>
                          <span class="slider round"></span>
                        </label>
                    `;
                }else if(val.status == "2"){
                    val.status = '<span class="text-danger"><i class="fa fa-bell"></i> Unsubscribed</span>';
                    val.action = `
                        <!-- Rounded switch -->
                        <label class="switch">
                          <input type="checkbox" onclick="subcribed(${val._id})">
                          <span class="slider round"></span>
                        </label>
                    `;
                }

                $("#all-subscribed-users").append(`
                    <tr>
                        <td>${sn}</td>
                        <td>${val.email}</td>
                        <td>${val.status}</td>
                        <td>
                            ${val.action}
                        </td>
                    </tr>
                `)
            });
        }).catch(err => {
            console.log(err);
        })
    }
</script>
