<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{user.names}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dashboard">back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/create">Write</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header style="background-color: #000;height: 60px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <ul class="nav nav-tabs">
        <li class="btn btn-default mr-4 mt-5 mb-2 active"><a data-toggle="tab" href="#draft">Draft <span id="total-drafts"></span></a></li>
        <li class="btn btn-default mr-4 mt-5 mb-2"><a data-toggle="tab" href="#published">Published <span id="total-published"></span></a></li>
        <li class="btn btn-default mr-4 mt-5 mb-2"><a data-toggle="tab" href="#archived">Archived</a></li>
    </ul>

    <div class="tab-content">
      <div id="draft" class="tab-pane active">
        <!-- <h3>Drafts</h3> -->
        <div class="row" id="my-drafts"></div>
      </div>
      <div id="published" class="tab-pane fade">
        <!-- <h3>Published</h3> -->
        <div class="row" id="my-published"></div>
      </div>
      <div id="archived" class="tab-pane fade">
        <!-- <h3>Archived</h3> -->
        <div class="row" id="my-archived"></div>
      </div>
    </div>
</div>
<br>

<div class="notify-me">
    Things i can do with lotion
</div>

<script type="text/javascript">
    getAllPosts();
    getTotalDraft();
    getTotalPublished();

    // get all post
    function getAllPosts() {
        let url = '/api/drafts';
        fetch(url, {
            method: "GET",
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(r => r.json()).then(data => {
            $("#my-drafts").html("");
            $("#my-published").html("");
            $("#my-archived").html("");
            $.each(data.data, function(index, val) {
                // console.log(val);
                var filteredLink = val.title.replace(/ /g, '-');
                var list_div;
                var action_btn;

                if(val.status == "0"){
                    list_div = 'my-drafts';
                    action_btn = `
                        <a href="edit/${val._id}" class="space-link">
                            <i class="fa fa-edit"></i> edit
                        </a>
                        <a href="javascript:void(0);" onclick="deleteArticle('${val._id}')" class="space-link">
                            <i class="fa fa-trash"></i> trash
                        </a>
                        <a href="javascript:void(0);" onclick="releaseArticle('${val._id}')" class="space-link">
                            <i class="fa fa-book"></i> Publish
                        </a>
                    `;
                }else if(val.status == "1") {
                    list_div = 'my-published';
                    action_btn = `
                        <a href="edit/${val._id}" class="space-link">
                            <i class="fa fa-edit"></i> edit
                        </a>
                        <a href="javascript:void(0);" class="space-link">
                            <i class="fa fa-archive"></i> archived
                        </a>
                        <a href="javascript:void(0);" onclick="deleteArticle('${val._id}')" class="space-link">
                            <i class="fa fa-trash"></i> trash
                        </a>
                    `;
                }else if(val.status == "2"){
                    list_div = 'my-archived';
                    action_btn = `
                        <a href="edit/${val._id}" class="space-link">
                            <i class="fa fa-edit"></i> edit
                        </a>
                        <a href="javascript:void(0);" onclick="deleteArticle('${val._id}')" class="space-link">
                            <i class="fa fa-trash"></i> trash
                        </a>
                    `;
                }

                $(`#${list_div}`).append(`
                    <div class="col-lg-12 col-md-12 mb-2 mt-5">
                        <a href="${val._id}"><h1 class="article-title">${val.title}</h1></a>
                        <div class="small">
                            By: {{user.names}}
                        </div>
                        <div class="small">
                            Date: <small>${moment(val.createdAt).format('LTS')}</small> |
                            <small>${moment(val.createdAt).format('LL')}</small>
                            
                            <span class="float-right">
                                ${action_btn}
                            </span>
                        </div>
                    </div>
                `);
            });
           
        }).catch(err => console.log(err));
    }
    // delete article
    function deleteArticle(article_id) {
        var query = {article_id}
        fetch(`delete`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results)
            getAllPosts();
            popNotification(results);
        }).catch(err => {
            console.log(JSON.stringify(err));
        })
    }

    function popNotification(data) {
        $(".notify-me").fadeIn();
        $(".notify-me").html(`
            ${data.message}
        `);

        setTimeout(function(){
            $(".notify-me").fadeOut();   
        }, 5000);
    }

    function releaseArticle(article_id) {
        swal({
          title: "Are you sure?",
          text: "Once published, People will have an impression from first glance!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((release) => {
          if (release) {
            fetch(`/api/release/${article_id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({article_id})
            }).then(r => {
                return r.json();
            }).then(results => {
                // console.log(results)
                swal("Poof! Your article has been published!", {
                  icon: "success",
                });
                getAllPosts();
            }).catch(err => {
                console.log(err);
            })
          } else {
            swal("Your imaginary article need a second thought!");
          }
        });
    }
    
    function getTotalDraft() {
        fetch(`/api/count/drafts`).then(r => {
            return r.json();
        }).then(results => {
            console.log(results)
            $("#total-drafts").html(`
                (${results.data})
            `)
        }).catch(err => {
            console.log(err);
        })
    }

    function getTotalPublished() {
        fetch(`/api/count/published`).then(r => {
            return r.json();
        }).then(results => {
            console.log(results)
            $("#total-published").html(`
                (${results.data})
            `)
        }).catch(err => {
            console.log(err);
        })
    }
</script>
