<style type="text/css">
    pre {
        display: block;
        font-size: 87.5%;
        color: #212529;
        background-color: whitesmoke;
        padding: 1rem;
    }
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{user.names}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/drafts">My Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="javascript:void(0);" onclick="publishArticle()">Publish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="javascript:void(0);" onclick="saveToDraft()">Save as Draft</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header style="background-color: #000;height: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto"></div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-10 mx-auto">
            <form class="e-editable" onsubmit="return false">
                <input type="hidden" id="article-id" value="{{ articleId }}" name="">
                <input type="hidden" id="featured-images" name="">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div id="overlay"></div> -->
                        <div class="add-feature-message">
                            <a href="javascript:void(0);" class="float-right p-2" id="upload_widget">
                              <i class="fa fa-camera"></i>
                            </a>
                            <div class="text-center">
                                <i class="fa fa-camera" style="font-size:86px;color:#999;margin-top:10%;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="e-text-area e-text-title" id="contents-title" placeholder="Title here..."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="saved-text"></div>
                            <div class="contents-add-on float-right">
                                <a href="javascript:void(0);" onclick="addInlineImage()" class="p-1">
                                    <i class="fa fa-image"></i>
                                </a>
                                <a href="javascript:void(0);" onclick="chooseLangEncode('pre')" class="p-1">
                                    <i class="fa fa-code"></i>
                                </a>
                                <a href="javascript:void(0);" onclick="saveToDraft()" class="p-1">
                                    <i class="fa fa-save"></i>
                                </a>
                            </div>
                        <div class="e-text-area e-text-contents" id="contents" contenteditable="true"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 ml-3">
                        <label for="article-tags">Tags</label>
                        <select class="form-control" id="article-tags"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<div class="notify-me">
    Things i can do with lotion
</div>

<!-- select language -->
<div class="modal fade" id="select-language" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="language-spec">
                <a href="javascript:void(0);" onclick="chooseLangEncode('1')" class="btn btn-default">
                    JavaScript
                </a>
                <a href="javascript:void(0);" onclick="chooseLangEncode('2')" class="btn btn-default">
                    PHP
                </a>
                <a href="javascript:void(0);" onclick="chooseLangEncode('3')" class="btn btn-default">
                    HTML
                </a>
                <a href="javascript:void(0);" onclick="chooseLangEncode('4')" class="btn btn-default">
                    CSS
                </a>
                <a href="javascript:void(0);" onclick="chooseLangEncode('5')" class="btn btn-default">
                    Plain Text
                </a>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat" type="button" data-dismiss="modal">
                        close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Select 2 -->
<script src="/js/select2.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script> 
<script type="text/javascript">
    // fetch current article
    fetchCurrentArticle();
    articleTags();

    var textEdit = document.getElementById("contents");
    let tickCount = 0;

    // init value
    textEdit.innerHTML = "Write a story...";
    textEdit.addEventListener('keyup', function(e){
        // search and format 
        var contents = $("#contents").html();
        // console.log(contents);
    });

    var titleText = document.getElementById("contents-title");
    titleText.addEventListener('keyup', function(e){
        var updatedText = $("#contents-title").val();

        $("#preview-title").html("");
        $("#preview-title").html(updatedText);
    });

    document.addEventListener('mouseup', function(){
        // get mouse highlighted
        var thetext = getSelectionText();
    }, false);

    function articleTags() {
        var tags = [
            {
                id: 1,
                name: 'JavaScript'
            },
            {
                id: 2,
                name: 'NodeJs'
            },
            {
                id: 3,
                name: 'NativeScript'
            },
            {
                id: 4,
                name: 'Laravel'
            },
            {
                id: 5,
                name: 'MongoDB'
            },
            {
                id: 6,
                name: 'Cloudinary'
            },
        ];
        
        $("#article-tags").html("");
        $.each(tags, function(index, val) {
            $("#article-tags").append(`
                <option value="${val.name}">${val.name}</option>
            `);
        });

        $("#article-tags").select2({
            multiple: true
        });
    }

    function chooseLangEncode(lang_id) {
        // body...
        $("#select-language").modal();
        switch (lang_id) {
            case "1":
                $("#language-spec").val('javascript');
                formatText('pre');
                break;
            case "2":
                $("#language-spec").val('php');
                formatText('pre');
                break;
            case "3":
                $("#language-spec").val('html');
                formatText('pre');
                break;
            case "4":
                $("#language-spec").val('css');
                formatText('pre');
                break;
            case "5":
                $("#language-spec").val('plaintext');
                formatText('pre');
                break;
            default:
                // statements_def
                break;
        }
    }

    function formatText (tag) {
        $("#select-language").modal('hide');
        var lang_spec = $("#language-spec").val();

        var raw_selection_text = getSelectionText();
        var filteredSelectedText = raw_selection_text.replace(/<div>/g, '');
        var selectedText = filteredSelectedText.replace(/<\/div>/g, '');

        if (selectedText != "") {
            if(tag == "pre"){
                var newText = `<${tag}><code class="language-${lang_spec}">${selectedText}</code></${tag}>`;
            }else{
                var newText = `<${tag}><code class="language-${lang_spec}">${selectedText}</code></${tag}>`;
            }
            
            document.getSelection().text = newText;
            var contents = $("#contents").html();
            contents = contents.replace(selectedText, newText);

            $("#contents").html("");
            $("#contents").html(contents);
            $("#contents").append(`<br> <div></div>`);

            // console.log(contents);
            // addSyntaxHighlight();
        }else{
            if(tag == "pre"){
                var newText = `<${tag}><code class="language-${lang_spec}">// coding start here..</code></${tag}>`;
            }else{
                var newText = `<${tag}></${tag}>`;
            }
            
            $("#contents").append(newText);
            $("#contents").append("<br /><div></div>");
        }
    }

    function getSelectionText(){
        var selectedText = ""
        if (window.getSelection){ // all modern browsers and IE9+
            selectedText = window.getSelection().toString()
        }
        return selectedText
    }

    function fetchCurrentArticle() {
        var articleId = $("#article-id").val();

        fetch(`/api/articles/${articleId}`).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            // alert('saved to draft');
            $("#contents").html(results.data.contents);
            $("#contents-title").val(results.data.title);
            $("#featured-images").val(results.data.featured_image);

            $(".add-feature-message").html(`<div class="text-center featured-title-preview" id="preview-title"></div>`);
            $(".add-feature-message").css({
                "background-image": `url("${results.data.featured_image}")`,
                "background-position": "50% 50%",
                "background-size": "cover",
                "background-repeat": "no-repeat"
            });

            $("#preview-title").html("");
            $("#preview-title").html(results.data.title);
            $("#add-feature-message").html();

            // $("#article-tags").html("")
            results.data.tags.forEach( function(element, index) {
                // console.log(element);
                $("#article-tags").append(`
                    <option value="${element}" selected>${element}</option>
                `)
            });
            $("#article-tags").select2({
                multiple: true
            });
        }).catch(err => {
            console.log(JSON.stringify(err));
        })
    }

    function publishArticle(){
        var image = $("#featured-images").val();
        var title = $("#contents-title").val();
        var contents = $("#contents").html();
        popNotification({message: "article has been published!"});
    }

    function saveToDraft(){
        // alert('saved to draft');
        var contents = $("#contents").html();
        var title = $("#contents-title").val();
        var image = $("#featured-images").val();
        var article_id = $("#article-id").val();
        var article_tags = $("#article-tags").val();

        fetch(`/articles/update`, {
            method: "POST",
            body: JSON.stringify({article_id, contents, title, image, article_tags}),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            popNotification(results)
        }).catch(err => {
            console.log(err)
        })

        // void form
        return false;
    }

    function popNotification(data) {
        $(".notify-me").fadeIn();
        $(".notify-me").html(`
            ${data.message}
        `);

        setTimeout(function(){
            $(".notify-me").fadeOut();   
        }, 5000);
    }

    var idleTime = 0;

    function addInlineImage() {
        myInlineWidget.open();
    }

    var myWidget = cloudinary.createUploadWidget({
            cloudName: 'delino12', 
            uploadPreset: 'zuwvn4qr',
            folder: 'articles'
        }, (error, result) => { 
            if (!error && result && result.event === "success") { 
                console.log('Done! Here is the image info: ', result.info);
                $(".add-feature-message").html("");
                $(".add-feature-message").append(`
                    <div class="text-center featured-title-preview" id="preview-title"></div>
                `);

                $(".add-feature-message").css({
                    "background-image": `url("${result.info.url}")`,
                    "background-position": "50% 50%",
                    "background-size": "cover",
                    "background-repeat": "no-repeat"
                });

                $("#featured-images").val(`${result.info.url}`);
            }
        }
    )

    var myInlineWidget = cloudinary.createUploadWidget({
            cloudName: 'delino12', 
            uploadPreset: 'zuwvn4qr',
            folder: 'articles'
        }, (error, result) => { 
            if (!error && result && result.event === "success") { 
                console.log('Done! Here is the image info: ', result.info);
                $("#contents").append(`
                    <div><img src="${result.info.url}" style="border-radius: 5px; width: 100%;" /></div>
                    <div><br /></div>
                `);

                // saveToDraft
                saveToDraft();
            }
        }
    )

    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
    }, false);
</script>
