<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{user.names}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dashboard">back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/create">Write an Article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Header -->
<header style="background-color: #000;height: 60px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row" id="my-posts"></div>
</div>
<br>
    <script type="text/javascript">
        getAllPosts();

        // get all post
        function getAllPosts() {
            let url = '/fetch/user/articles';
            fetch(url, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(r => r.json()).then(data => {
                $("#my-posts").html("");
                $.each(data.data, function(index, val) {
                    console.log(val);
                    var filteredLink = val.title.replace(/ /g, '-');
                    $("#my-posts").append(`
                        <div class="col-lg-12 col-md-12 mb-2 mt-5">
                            <a href="article/${val._id}"><h1 class="article-title">${val.title}</h1></a>
                            <div class="small">
                                By: Ekpoto Liberty
                            </div>
                            <div class="small">
                                Date: <small>${val.createdAt}</small>
                            </div>
                        </div>
                    `);
                });
               
            }).catch(err => console.log(err));
        }
    </script>
