<style type="text/css">
    header.masthead{
      margin-bottom: 0px;
    }
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
            <img src="/apple-icon-57x57.png" style="box-shadow: 0rem 0rem 4rem 0rem #FFF;">
            Ekpoto Liberty
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
    </div>
</nav>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-left">
                        <i class="fas fa-lock text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Create Account</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <form method="POST" onsubmit="return signinUser()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="names">Names </label>
                                            <input type="text" id="names" placeholder="Eg, Johnny Wickky" class="form-control py-4" name="name" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email </label>
                                            <input type="email" id="email" placeholder="email" class="form-control py-4" name="email" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password">Password </label>
                                            <input type="password" id="password" placeholder="password" class="form-control py-4" name="password" required="">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                Forgot password?
                                            </a>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn btn-info" type="submit" id="signup-btn">
                                                Create Account
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="/auth/signin" class="btn btn-default">
                                                LOGIN
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p>Signup via</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-facebook-f text-primary mb-2"></i> Facebook
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-google text-primary mb-2"></i> Google
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-github text-primary mb-2"></i> Github
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function signinUser() {
        $('#signup-btn').html(`
            Creating....
        `);
        $('#signup-btn').prop({disabled: true});

        // body...
        var names       = $("#names").val();
        var email       = $("#email").val();
        var password    = $("#password").val();
        var query       = {names, email, password}

        fetch(`/auth/signup`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            // console.log(results);
            popNotification(results);
            if(results.status == "success"){
                window.location.href = '/auth/signup';
            }else{
                $('#signup-btn').html(`
                    Create Account
                `);
                $('#signup-btn').prop({disabled: false});
            }
        }).catch(err => {
            console.log(err);
            $('#signup-btn').html(`
                Create Account
            `);
            $('#signup-btn').prop({disabled: false});

        })

        // return 
        return false;
    }
</script>