<style type="text/css">
    header.masthead{
      margin-bottom: 0px;
    }
</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">
            <img src="/apple-icon-57x57.png" style="box-shadow: 0rem 0rem 4rem 0rem #FFF;">
            Ekpoto Liberty
        </a>
        
    </div>
</nav>

<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-left">
                        <i class="fas fa-lock text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Login</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <form method="POST" onsubmit="return signinUser()">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="email">Email </label>
                                            <input type="email" id="email" placeholder="email" class="form-control py-4" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password">Password </label>
                                            <input type="password" id="password" placeholder="password" class="form-control py-4" name="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                Forgot password?
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button class="btn btn-info" id="signin-btn" type="submit">
                                                Log in
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="/auth/signup" class="btn btn-default">
                                                Create Account
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p>Login via</p>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-facebook-f text-primary mb-2"></i> Facebook
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-google text-primary mb-2"></i> Google
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="form-group">
                                            <a href="javascript:void(0);">
                                                <i class="fab fa-github text-primary mb-2"></i> Github
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function signinUser() {
        $('#signin-btn').html(`
            Processing....
        `);
        $('#signin-btn').prop({disabled: true});

        var email       = $("#email").val();
        var password    = $("#password").val();
        var query       = {email, password}

        fetch(`/auth/signin`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(query)
        }).then(r => {
            return r.json();
        }).then(results => {
            console.log(results);
            popNotification(results);

            if(results.status == "success"){
                window.location.href = '/dashboard';

            }else{
                $('#signin-btn').html(`
                    Login
                `);
                $('#signin-btn').prop({disabled: false});
            }
        }).catch(err => {
            console.log(err);
            $('#signin-btn').html(`
                Login
            `);
            $('#signin-btn').prop({disabled: false});
        })

        // return 
        return false;
    }
</script>