<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{user.names}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dashboard">back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/drafts">My Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/articles/create">Write an Article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<input type="hidden" value="{{articleId}}" id="article_id" name="">

<!-- Page Header -->
<header style="background-color: #000;height: 60px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" id="post_id" value="{{ post_id }}" name="">
            <div id="single-post"></div>
        </div>
        <div class="col-md-12">
            <div id="my-posts"></div>
        </div>
    </div>
</div>
<br>

<script type="text/javascript">
    getSinglePost();

    function getSinglePost() {
        var article_id = $("#article_id").val();
        let url = '/api/articles/'+article_id;
        fetch(url).then(r => r.json()).then(data => {
            // console.log(data);
            if(data.data !== null){
                var val = data.data;

                if(val.featured_image == "sample.jpg"){
                    val.featured_image = "../img/web-development.jpg";
                }

                $("#single-post").html(`
                    <div class="mb-2 mt-5">
                        <div class="image-placeholder" style="background: url('${val.featured_image}');">
                        </div>
                        <h1 class="">${val.title}</h1></a>
                        <article>
                            ${val.contents}
                        </article>
                        <br />
                        <div class="small">
                            <div id="display_article_tags"></div>
                        </div>

                        <br /> <hr />
                        <div class="small">
                            By: {{ user.names }}
                        </div>
                        
                        <div class="small">
                            Date: <small>${moment(val.createdAt).format('LTS')}</small> |
                            <small>${moment(val.createdAt).format('LL')}</small>
                        </div>
                    </div>
                `);

                val.tags.forEach( function(element, index) {
                    // console.log(element);
                    $("#display_article_tags").append(`
                        <button class="btn btn-default" disabled>${element}</button>
                    `)
                });

                // addSyntaxHighlight();

                // hljs.configure({useBR: false});
                // document.querySelectorAll('code').forEach((block) => {
                //   hljs.highlightBlock(block);
                // });
            }
        }).catch(err => console.log(err));
    }

    function addSyntaxHighlight(){
        $(document).ready(function($) {
            document.addEventListener('DOMContentLoaded', (event) => {
                document.querySelectorAll('pre code').forEach((block) => {
                    hljs.highlightBlock(block);
                });
            });
        });
    }

</script>
