.e-editable {

}

.e-text-area {
	border: none;
	position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow: auto;
    resize: none;
}

.add-feature-message {
	height: 400px;
	border:1px solid #CCC;
	border-radius: 0.8rem;
	margin-bottom: 20px;
}

.image-added {
	background-position: center;
	background-size: cover;
}

.e-text-title {
	font-size: 36px;
}

.e-text-contents {
	min-height: 500px;
}

.contents-add-on {
	position: fixed;
    min-height: 50px;
    min-width: 200px;
    /*box-shadow: 0rem 0rem 0.3rem 0rem rgba(0,0,0,0.5);*/
    border: 1px solid #a7b9a5;
    border-radius: 5px;
    right: 20px;
    top: 0;
    margin-top: 25%;
    padding: 1rem;
    font-size: 12px;
    color: #a7b9a5;
}

div#contents:focus {
	outline: none;
}

div > pre[class*="language-"] {
  position: relative;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
  margin-bottom: 40px;
  padding: 0;
  background: #fff;
  padding: 20px 30px;
  width: 100%;
  font-size: 13px;
  display: inline-block;
}

textarea#contents-title:focus {
	outline: none;
}

.featured-title-preview {
	font-size:36px;
	color:#c7cede;
	margin-top:10%;
	margin-left: 2%;
	margin-right: 2%;
}

.article-title {
	font-size:36px;
	color:#161616;
	font-weight: 200;
}

.article-description {
	font-size:16px;
	color:#161616;
	font-weight: 200;
}

.image-placeholder {
	object-fit: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.space-link {
	padding: 0.5rem;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.notify-me {
	position: fixed;
    min-height: 50px;
    min-width: 200px;
    /*box-shadow: 0rem 0rem 0.3rem 0rem rgba(0,0,0,0.5);*/
    border: 1px solid #a7b9a5;
    border-radius: 5px;
    right: 20px;
    bottom: 0;
    margin-bottom: 30px;
    padding: 1rem;
    font-size: 12px;
    color: #a7b9a5;
    display: none;
}


.addon-post-share {
	position: fixed;
	left: 20px;
    top: 0;
    color: #fff;
    padding: 1rem;
    background-color: #373747;
    border: 1px solid #a7b9a5;
    border-radius: 5px;
    margin-top: 25%;
}

.addon-post-share a {
    color: #fff;
    padding: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600px){
  .addon-post-share {
    display: none;
  }
}